!!!
%html
  =haml :"layouts/partials/_head", :layout => false
  %body

    #wrap
      =haml :"layouts/partials/_sidebar", :layout => false
      #main
        = haml :"layouts/partials/_header", :layout => false
        #bd
          #slide-container
            =yield
        #ft
