!!!
%html
  =haml :"layouts/partials/_head", :layout => false
  %script{:type => "text/javascript", :src => "/js/presentation.js"}
  %body

    #wrap
      =haml :"layouts/partials/_sidebar", :layout => false
      #main
        #hd
          %h1 History Manipulation
        #bd
          #prev-icon
            .ui-icon.ui-icon-triangle-1-w
          #slide-container
            =yield
          #next-icon
            .ui-icon.ui-icon-triangle-1-e
        #ft
