.slide
  %h1 History Manipulation Presentation
  %p Created by Matt Rohr, August 2011
  %a{:href =>"https://github.com/mrohr/Browser-History-Manipulation-Presentation"} Source hosted on GitHub
  %br
  %a{:href =>"http://html5-history-demo.heroku.com/"} Demo (this page) hosted on Heroku
  %h1 Sources
  %ul
    %li
      %a{:href =>"https://github.com/blog/760-the-tree-slider"} GitHub Blog Post on the Tree Slidea
    %li
      %a{:href =>"http://www.w3.org/TR/html5/history.html"} W3 page on the HTML5 History API
    %li 
      %a{:href =>"https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history"} Mozilla Developer Page on Manipulating Browser History
