#slide
  %h1 History Manipulation Presentation
  %h3 Created by Matt Rohr, August 2011

  %h1 Sources
  %ul
    %li
      %a{:href =>"https://github.com/blog/760-the-tree-slider"} Github Blog Post on the Tree Slider
    %li 
      %a{:href =>"https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history"} Mozilla Developer Page on Manipulating Browser History
