.slide{:slide_count =>"1"}
  .center
    %h1#title Browser History Manipulation
    Matt Rohr
    %p (Click the arrows on the sides or press the left/right arrow keys to move through slides)
  #first-slide-marker
