.slide{:slide_count =>"#{locals[:slide]}"}
  %h1#title Whats this good for?
  #content
    %ul
      %li File Viewer
      %li Linear Page Navigation
      %li Layout Heavy Pages
      %li Bookmark Friendly AJAX

