.slide{:slide_count =>"2"}
  %h1#title Inspiration
  #content
    %ul
      %li Late last year, Github added the "Tree Slider"
      %li page through files/folders, back and forward don't refresh the page

    %a{:href => "https://github.com/sinatra/sinatra"} Tree Slider on Github
