.slide{:slide_count =>"#{locals[:slide]}"}
  %h1#title history.pushState
  #content
    %code.prettyprint
      %line history.pushState(state, title, url);
    %ul
      %li
        %h3.extendable state
        %ul.hidden
          %li Javascript Object (JSON)
          %li store information about the state of this page
          %li stored as a field in the popstate event
          %li can store anything, 640k size limit
      %li
        %h3.extendable title
        %ul.hidden
          %li String
          %li Currently not used
          %li from MDC Documentation:
          %code Passing the empty string here should be safe against future changes to the method. Alternatively, you could pass a short title for the state to which you're moving.
      %li
        %h3.extendable url
        %ul.hidden
          %li String
          %li the URL stored by the browser as what page you are visiting, shown in the address bar
          %li
            won't actually be called, unless the page is reloaded
            .warn Because of this, make sure it is valid!
