.slide{:slide_count =>"5"}
  %h1#title popstate Event
  #content
    %code.prettyprint
      %line window.onpopstate = functionName;

    %ul
      %li
        %h3 functionName
        %ul
          %li The name of a function handles the event
          %li has one parameter, the popstate event
          %li event.state: the state object set by pushState/replaceState
      

