.slide{:slide_count =>"#{locals[:slide]}"}
  .center
    %h1#title Demo
    This Presentation
    #content{:style => "text-align: left;"}
      %ul
        %li Sinatra App
        %li Slides are HAML partials, loaded through AJAX
        %li single JavaScript file uses the History API
